/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:80%;
	left: 9%;
	height:auto;
	overflow: hidden;
	
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0%;
	max-width: none;

}

.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
	opacity: 0.10;
	
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	
	
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	top: 40%;
	left:0px;
	bottom:0px;
	font-family: sans-serif;
	text-align: center;
	background-color: transparent;
	width:100%;
	z-index:1;
	padding: 5px 10px;
	display: none;
	
}

.nivo-caption img {
	position: absolute;
	width: 25%;
	height: 100%;
	top: -10%;
	left: 60%;
}

.nivo-caption h1 {
	position: absolute;
	top: -90px;
	left: 11%;
	margin:0;
	font-size: 35px;
	font-weight: bold;
	color: rgba(5, 5, 5, 0.781);
	font-family: 'Roboto', sans-serif;
}

.nivo-caption h2 {
	position: absolute;
	top: -50px;
	left: 10%;
	margin:0;
	font-size: 20px;
	font-weight: bold;
	color: rgba(5, 5, 5, 0.781);
	font-family: 'Roboto', sans-serif;
}

.nivo-caption p {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	padding:10px;
	left: 10%;
	font-size: 20px;
	margin:0;
	text-align: justify;
	color:  rgba(5, 5, 5, 0.781);
	margin-right: 45%
	
}
.nivo-caption a {
	display:inline !important;
}

.nivo-html-caption {
	display:none;
	
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:7;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
@media (max-device-width:767px){
	#gridSlider {
		display: grid;
		grid-template-columns: 1fr;
	}
	.nivo-caption h1 {
		position: static;
	}
	.nivo-caption img {
		position: static;
		height: auto;
		justify-self: center;
		width: 50%;
	}
	.nivo-caption h2{
		position: static;
	}
	.nivo-caption p {
		position: static;
		margin-left: 6%;
    	margin-right: 4%;
	}
	.nivo-caption {
		position: static;
		margin-top: 20px
	}

	.nivoSlider .nivo-main-image {
	height: 0px;

    }

	.nivoSlider .imgback {
	height: 0px;

    }

    .nivo-directionNav a {
   
    top: 20%;
   }



}