<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content=""> 
    <meta name="keywords" content="produccion de eventos,somos producciones,marketing,Eventos,producciones,shows,posicionamiento de marca">
    <title>nosotros-Somos Producciones (Eventos - Marketing - Shows</title>
    <link rel="stylesheet" href="../css/style.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Michroma&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- MENU DE NAVEGACION DE LA PAGINA -->
    <img src="../media/images/menuIcono.png" class="menubtnimg">
    <div class="fixed-hud menu-block" style="left: 0px; right: 0px; bottom: 0px;">
      <img src="../media/images/menuIcono.png" class="menubtnimg">
        <div class="menu-btn invertable" data-selector=".menu-btn__line .menu-btn__line__inner" data-prop="background-color" data-original-color="0xFFFFFF" data-inverted-color="0x121212">
            <div class="menu-btn__line" style="transform: scaleX(1);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
            <div class="menu-btn__line" style="transform: scaleX(1);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
            <div class="menu-btn__line" style="transform: scaleX(0.7);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
        </div>

        <div class="menu">
          <div class="menu__bg" style="height: 100vh; opacity: 1; left: 0px; right: 0px;">
          </div>
          <div class="menu__bottom-line" style="transform: translateY(100vh);"></div>
          <div class="menu__content-wrap" style="height: 100vh;">
            <div class="menu__content" style="height: 100vh;">
              <div class="glitch">
                  <!-- <h2>MENU</h2> -->
                  <ul class="Menu-list" data-offset="10">
                    <li class="Menu-list-item" data-offset="20" onclick>
                      MENÚ
                      <span class="Mask"><span>MENÚ</span></span>
                      <span class="Mask"><span>MENÚ</span></span>
                    </li>    
                  </ul>
              </div>
              <div class="v-lines lines-menu">
                  <div class="v-lines__outer"></div>
                  <div class="v-lines__inner"></div>

              </div>
              <div class="vertical"></div>
              <ul class="pages-list">

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">00</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-nosotros.html">
                                  NOSOTROS
                              </a>
                          </div>
                      </div>
                  </li>
                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">01</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-metodologia.html">
                                  METODOLOGÍA
                              </a>
                          </div>
                      </div>
                  </li>
                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">02</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-servicios.html">
                                  SERVICIOS
                              </a>
                          </div>
                      </div>
                  </li>

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">03</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-proyectos.html">
                                  PROYECTOS
                              </a>
                          </div>
                      </div>
                  </li>

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">04</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-contacto.html">
                                  CONTACTO
                              </a>
                          </div>
                      </div>
                  </li>

              </ul>


            </div>
          </div>
        </div>
    </div>

    <div class="header">
      <div class="v-lines lines-content">
        <div class="v-lines__outer"></div>
        <div class="v-lines__inner"></div>

      </div>
      <div class="shadows" style="opacity: 1;">
            <img class="shadow shadow_left" src="../media/images/shadow.png">
            <img class="shadow shadow_right" src="../media/images/shadow.png">
      </div>
      <div class="title" align="center">        
        <ul class="Menu-list" data-offset="10">
          <li class="Menu-list-item" data-offset="20" onclick>
            NOSOTROS
            <span class="Mask"><span>NOSOTROS</span></span>
            <span class="Mask"><span>NOSOTROS</span></span>
          </li>    
        </ul>
      </div>
    </div>

    <div class="sectionNosotros">
      <div class="textouno">
            <h1 class="titulo"><b>"Somos la primera productora de momentos"</b></h1>
          </div>

          <div class="textodos" align="center">


            <p id="parrafo">Somos un equipo de emprendedores con una gran trayectoria en la industria creativa de los eventos
               a lo largo de nuestra experiencia, identificamos que el mercado necesitaba soluciones  con orientación al resultado.
            </p> 
            <p id="parrafo">Entendimos que una tarima, un sonido o una pantalla, no es lo que hace una gran experiencia.
            </p>  
            <p id="parrafo">Nuestro objetivo es por medio de estas herramientas crear momentos únicos donde nuestros
                 clientes puedan acercarse a sus consumidores o publico objetivo, de una forma distinta, pues            
                 sabemos que vivimos en un mundo donde el consumo ya no es racional, sino emocional
                 y aspiracional.
            </p>         
            <p id="parrafo">Nuestra promesa de experiencia no es solo operar un evento, sino desarrollar un momento 
                  donde nuestros clientes logren que su comunicación, marca, servicio o producto sean deseables para su público objetivo.

            </p>
          </div>

    </div>

    <div class="prev-next-page clearfix">
      <div class="slide-down">
          <a href="template-metodologia.html">
              <div class="prev-wrap" style="transform: matrix(1, 0, 0, 1, 0, 0) translateZ(0px);">
                  <div class="approach-btn roll-hover-btn">
                      <p>Metodología</p>
                  </div>
              </div>
          </a>
          <a href="template-contacto.html">
              <div class="next-wrap active" style="transform: matrix(1, 0, 0, 1, 0, 0) translateZ(0px);">
                  <div class="portfolio-btn roll-hover-btn">
                      <p>Contacto</p>
                  </div>
              </div>
          </a>
      </div>
    </div>

     <!--Footer-->

     <footer>
        <div class="footer-area-bottom" style="font-family: Bahnschrift">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="copyright text-center">
                  <p>
                    &copy; Copyright <strong>Somos producciones</strong>. All Rights Reserved
                  </p>
                </div>
                <div class="credits">
                 
                  Designed by <a href="https://bootstrapmade.com/">Wakanda</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
  

    <script src="../js/main.js"></script>
  </body>
</html>
