<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/style.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Michroma&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <!-- MENU DE NAVEGACION DE LA PAGINA -->
    <img src="../media/images/menuIcono.png" class="menubtnimg">
    <div class="fixed-hud menu-block" style="left: 0px; right: 0px; bottom: 0px;">
        <div class="menu-btn invertable" data-selector=".menu-btn__line .menu-btn__line__inner" data-prop="background-color" data-original-color="0xFFFFFF" data-inverted-color="0x121212">
            <div class="menu-btn__line" style="transform: scaleX(1);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
            <div class="menu-btn__line" style="transform: scaleX(1);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
            <div class="menu-btn__line" style="transform: scaleX(0.7);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
        </div>

        <div class="menu">
          <div class="menu__bg" style="height: 789px; opacity: 1; left: 0px; right: 0px;">
          </div>
          <div class="menu__bottom-line" style="transform: translateY(789px);"></div>
          <div class="menu__content-wrap" style="height: 789px;">
            <div class="menu__content" style="height: 789px;">
              <div class="glitch">
                  <!-- <h2>MENU</h2> -->
                  <ul class="Menu-list" data-offset="10">
                    <li class="Menu-list-item" data-offset="20" onclick>
                      MENÚ
                      <span class="Mask"><span>MENÚ</span></span>
                      <span class="Mask"><span>MENÚ</span></span>
                    </li>    
                  </ul>
              </div>
              <div class="v-lines lines-menu">
                  <div class="v-lines__outer"></div>
                  <div class="v-lines__inner"></div>

              </div>
              <div class="vertical"></div>
              <ul class="pages-list">

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">00</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-nosotros.html">
                                  NOSOTROS
                              </a>
                          </div>
                      </div>
                  </li>
                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">01</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-metodologia.html">
                                  METODOLOGIA
                              </a>
                          </div>
                      </div>
                  </li>
                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">02</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-servicios.html">
                                  SERVICIOS
                              </a>
                          </div>
                      </div>
                  </li>

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">03</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-proyectos.html">
                                  PROYECTOS
                              </a>
                          </div>
                      </div>
                  </li>

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">04</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-contacto.html">
                                  CONTACTO
                              </a>
                          </div>
                      </div>
                  </li>

              </ul>


            </div>
          </div>
        </div>
    </div>

    <div class="header">
      <div class="v-lines lines-content">
        <div class="v-lines__outer"></div>
        <div class="v-lines__inner"></div>

      </div>
      <div class="shadows" style="opacity: 1;">
            <img class="shadow shadow_left" src="../media/images/shadow.png">
            <img class="shadow shadow_right" src="../media/images/shadow.png">
      </div>
      <div class="title" align="center">        
        <ul class="Menu-list" data-offset="10">
          <li class="Menu-list-item" data-offset="20" onclick>
            CONTACTO
            <span class="Mask"><span>CONTACTO</span></span>
            <span class="Mask"><span>CONTACTO</span></span>
          </li>    
        </ul>
      </div>
    </div>

    <div class="sectionContacto">
      <div class="v-lines lines-content">
        <div class="v-lines__outer"></div>
        <div class="v-lines__inner"></div>

      </div>
      <div class="sectionSubContanco">
        <b>Creemos momentos juntos...</b>
      </div>

        <div class="infoContacto" align="right">
        
          +57 321-3153-700<br><br><br><br>
          CLL 144 #49 - 50<br><br><br><br>
          CONTACTO@SOMOSPRODUCCIONES
        </div>

        <div class="iconsCont">
          <div class="iconPhone">
            <img src="../media/images/iconos/phone.png" class="icons">
          </div>
          <div class="iconMarcador">
            <img src="../media/images/iconos/marcador.png" class="icons">
          </div>
          <div class="iconMail">
            <img src="../media/images/iconos/mail.png" class="icons">
          </div>
        </div>

        <form class="contactoForm">
          <p><label for="name" id="namel">Nombre</label> <label for="telefono" id="telefonol">Telefonó</label></p>
          <p><input id="name" class="inputMedio" type="text"> <input id="telefono" class="inputCorto" type="text"></p>

          <p><label for="email" id="emaill">Email</label></p>
          <input id="email" class="inputLargo" type="text">

          <p><label for="asunto" id="asuntol">Asunto</label></p>
          <p><input id="asunto" class="inputLargo" type="text"></p>

          <p><label for="mensaje" id="mensajel">Mensaje</label></p>
          <p><input id="mensaje" class="inputLargo" type="text"></p>

          <button class="enviarBtn">Enviar</button>
        </form>

        <div class="redes">
          <a href="#"><img src="../media/images/iconos/linkedin.png" class="icons" id="linkedin"></a><br>
          <a href="#"><img src="../media/images/iconos/facebook.png" class="icons" id="facebook"></a><br>
          <a href="#"><img src="../media/images/iconos/instagram.png" class="icons" id="instagram"></a><br>
          <a href="#"><img src="../media/images/iconos/whatsapp.png" class="icons" id="whatsapp"></a><br>
          <a href="#"><img src="../media/images/iconos/vimeo (3).png" class="icons" id="vimeo"></a><br>
          <a href="#"><img src="../media/images/iconos/youtube.png" class="icons" id="youtube"></a><br>
        </div>

    </div>

    <div class="prev-next-page clearfix">
      <div class="slide-down" style="left: -30px; right: -30px;">
          <a href="template-nosotros.html">
              <div class="prev-wrap" style="transform: matrix(1, 0, 0, 1, 0, 0) translateZ(0px);">
                  <div class="approach-btn roll-hover-btn">
                      <p>Nosotros</p>
                  </div>
              </div>
          </a>
          <a href="template-contacto.html">
              <div class="next-wrap active" style="transform: matrix(1, 0, 0, 1, 0, 0) translateZ(0px);">
                  <div class="portfolio-btn roll-hover-btn">
                      <p>Contacto</p>
                  </div>
              </div>
          </a>
      </div>
    </div>

    <!--Footer-->

    <footer>
      <div class="footer-area-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="copyright text-center">
                <p>
                  &copy; Copyright <strong>Somos produciones</strong>. All Rights Reserved
                </p>
              </div>
              <div class="credits">
               
                Designed by <a href="https://bootstrapmade.com/">Wakanda</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../js/main.js"></script>
  </body>
</html>
