<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/style.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/mi-slider.css">
    <link rel="stylesheet" href="../css/nivo-slider.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Michroma&display=swap" rel="stylesheet">
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/jquery.nivo.slider.js"></script>
  </head>
  <body>
    <!-- MENU DE NAVEGACION DE LA PAGINA -->
    <img src="../media/images/menuIcono.png" class="menubtnimg">
    <div class="fixed-hud menu-block" style="left: 0px; right: 0px; bottom: 0px;">
      <img src="../media/images/menuIcono.png" class="menubtnimg">
        <div class="menu-btn invertable" data-selector=".menu-btn__line .menu-btn__line__inner" data-prop="background-color" data-original-color="0xFFFFFF" data-inverted-color="0x121212">
            <div class="menu-btn__line" style="transform: scaleX(1);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
            <div class="menu-btn__line" style="transform: scaleX(1);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
            <div class="menu-btn__line" style="transform: scaleX(0.7);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
        </div>

        <div class="menu">
          <div class="menu__bg" style="height: 100vh; opacity: 1; left: 0px; right: 0px;">
          </div>
          <div class="menu__bottom-line" style="transform: translateY(100vh);"></div>
          <div class="menu__content-wrap" style="height: 100vh;">
            <div class="menu__content" style="height: 100vh;">
              <div class="glitch">
                  <!-- <h2>MENU</h2> -->
                  <ul class="Menu-list" data-offset="10">
                    <li class="Menu-list-item" data-offset="20" onclick>
                      MENÚ
                      <span class="Mask"><span>MENÚ</span></span>
                      <span class="Mask"><span>MENÚ</span></span>
                    </li>    
                  </ul>
              </div>
              <div class="v-lines lines-menu">
                  <div class="v-lines__outer"></div>
                  <div class="v-lines__inner"></div>

              </div>
              <div class="vertical"></div>
              <ul class="pages-list">

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">00</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-nosotros.html">
                                  NOSOTROS
                              </a>
                          </div>
                      </div>
                  </li>
                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">01</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-metodologia.html">
                                  METODOLOGÍA
                              </a>
                          </div>
                      </div>
                  </li>
                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">02</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-servicios.html">
                                  SERVICIOS
                              </a>
                          </div>
                      </div>
                  </li>

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">03</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-proyectos.html">
                                  PROYECTOS
                              </a>
                          </div>
                      </div>
                  </li>

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">04</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-contacto.html">
                                  CONTACTO
                              </a>
                          </div>
                      </div>
                  </li>

              </ul>


            </div>
          </div>
        </div>
    </div>

    <div class="header">
      <div class="v-lines lines-content">
        <div class="v-lines__outer"></div>
        <div class="v-lines__inner"></div>

      </div>
      <div class="shadows" style="opacity: 1;">
            <img class="shadow shadow_left" src="../media/images/shadow.png">
            <img class="shadow shadow_right" src="../media/images/shadow.png">
      </div>
      <div class="title">        
        <ul class="Menu-list" data-offset="10">
          <li class="Menu-list-item" data-offset="20" onclick>
            SERVICIOS
            <span class="Mask"><span>SERVICIOS</span></span>
            <span class="Mask"><span>SERVICIOS</span></span>
          </li>    
        </ul>
      </div>
    </div>

    <div class="sectionNosotros">
      <div class="v-lines lines-content">
        <div class="v-lines__outer"></div>
        <div class="v-lines__inner"></div>
      </div>
      <!-- Botones navegacion slider servicios -->
      <div class="awesome-project-1 fix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="awesome-menu ">
            <ul class="project-menu">
              <!-- <div class="active"> -->
              <li>
                <a class="btnServicios" rel="0" >EVENTOS</a>
              </li>
              <li>
                <a class="btnServicios" rel="1" >INSTALACIONES</a>
              </li>
              <li>
                <a class="btnServicios" rel="2" >SHOWS</a>
              </li>
              <li>
                <a class="btnServicios" rel="3" > MARKETING </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
 
      <!--SLIDER-->
      <div class="slider-wrapper theme-mi-slider">
        <div id="slider" class="nivoSlider">     
            <img src="../media/images/imgservicios.png" alt="" title="#htmlcaption1"/>
            <img src="../media/images/imgservicios.png" alt="" title="#htmlcaption2"/> 
            <img src="../media/images/imgservicios.png" alt="" title="#htmlcaption3"/> 
            <img src="../media/images/imgservicios.png" alt="" title="#htmlcaption4"/>     
        </div> 
 
        <div id="htmlcaption1" class="nivo-html-caption  serviciouno">  
              <img  src="../media/imgservicios/1servicio.png">
              <h1>EVENTOS QUE CONECTAN</h1>
              <h2>"Toda conexión empieza con una experiencia"</h2>
              <p>Creamos &nbsp;y producimos &nbsp;experiencias<br> 
                 únicas &nbsp;para &nbsp;lanzamientos de &nbsp;marca,<br>
                 convenciones de ventas, seminarios y <br>
                 congreso entre otros.</p>
        </div>

        <div id="htmlcaption2" class="nivo-html-caption" href="#2servicio">  
            <a href="#2servicio"> <img id="2servicio" src="../media/imgservicios/2servicio.png"></a>   
            <h1>INSTALACIONES QUE COMUNICAN</h1>
            <h2> "Espacios que cuentan historias"</h2>
            <p> Diseñamos y construimos espacios <br>
                fijos &nbsp;&nbsp;e &nbsp;&nbsp;itinerantes &nbsp;&nbsp;que &nbsp;&nbsp;&nbsp;&nbsp;buscan <br>
                conectar, &nbsp;comunicar &nbsp;e &nbsp;interactuar <br>
                con las audiencias</p>
        </div>

        <div id="htmlcaption3" class="nivo-html-caption"> 
            <img id="3servicio" src="../media/imgservicios/3servicio.png">    
            <h1>SHOWS DE GRAN IMPACTO </h1>
            <h2>"Creamos una realidad paralela donde lo <br> imposible es posible"</h2>
            <p>Diseñamos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;intervenimos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;escenarios <br>
               para &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;artistas, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;shows &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;corporativos,<br>
               performance &nbsp;&nbsp;&nbsp;y &nbsp;&nbsp;&nbsp;pasarelas, &nbsp;&nbsp;&nbsp;haciendo &nbsp;&nbsp;&nbsp;&nbsp;uso <br>
               de &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;recursos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;audiovisuales &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;y<br>
               escenògraficos de forma, conceptual y creativa. </p>
        </div>

        <div id="htmlcaption4" class="nivo-html-caption" href="#2servicio">  
          <a href="#2servicio"> <img id="2servicio" src="../media/imgservicios/2servicio.png"></a>   
          <h1>MARKETING EXPERIENCIAL</h1>
          <h2>"Percibimos el mundo a través de los sentidos"</h2>
          <p> Desarrollamos experiencias interactivas que <br>
               involucran &nbsp;todos &nbsp;los &nbsp;sentidos con el fin &nbsp;de <br>
               que &nbsp;&nbsp;las &nbsp;marcas &nbsp;logren &nbsp;construir &nbsp;vínculos <br>
               sólidos &nbsp;&nbsp;&nbsp;con &nbsp;&nbsp;&nbsp;sus &nbsp;&nbsp;audiencias &nbsp;&nbsp;&nbsp;y &nbsp;&nbsp;&nbsp;logren <br>
               posicionarse en la mente del consumidor.
          </p>
        </div>
      </div>

    </div>

    <div class="prev-next-page clearfix">
      <div class="slide-down">
          <a href="template-proyectos.html">
              <div class="prev-wrap" style="transform: matrix(1, 0, 0, 1, 0, 0) translateZ(0px);">
                  <div class="approach-btn roll-hover-btn">
                      <p>Proyectos</p>
                  </div>
              </div>
          </a>
          <a href="template-contacto.html">
              <div class="next-wrap active" style="transform: matrix(1, 0, 0, 1, 0, 0) translateZ(0px);">
                  <div class="portfolio-btn roll-hover-btn">
                      <p>Contacto</p>
                  </div>
              </div>
          </a>
      </div>
    </div>
    
  <!--Footer-->

        <footer>
          <div class="footer-area-bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="copyright text-center">
                    <p>
                      &copy; Copyright <strong>Somos producciones</strong>. All Rights Reserved
                    </p>
                  </div>
                  <div class="credits">
                   
                    Designed by <a href="https://bootstrapmade.com/">Wakanda</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>


    

    <script src="../js/main.js"></script>
    <script type="text/javascript"> 
      $(window).on('load', function() {
          $('#slider').nivoSlider(); 
      }); 
    </script>
  </body>
</html>
