<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content=""> 
    <meta name="keywords" content="produccion de eventos,somos producciones,marketing,Eventos,producciones,shows,posicionamiento de marca">
    <title>metodologia-Somos Producciones (Eventos - Marketing - Shows</title>
    <link rel="stylesheet" href="../css/style.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Michroma&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/master.css">
    <!-- ========== script ========== -->
    <script src="../assets/js/app.js"></script>
  </head>
  <body>
    <!-- MENU DE NAVEGACION DE LA PAGINA -->
    <img src="../media/images/menuIcono.png" class="menubtnimg">
    <div class="fixed-hud menu-block" style="left: 0px; right: 0px; bottom: 0px;">
      <img src="../media/images/menuIcono.png" class="menubtnimg">
        <div class="menu-btn invertable" data-selector=".menu-btn__line .menu-btn__line__inner" data-prop="background-color" data-original-color="0xFFFFFF" data-inverted-color="0x121212">
            <div class="menu-btn__line" style="transform: scaleX(1);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
            <div class="menu-btn__line" style="transform: scaleX(1);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
            <div class="menu-btn__line" style="transform: scaleX(0.7);">
                <div class="menu-btn__line__inner" ></div>
                <div class="menu-btn__line__inner" ></div>
            </div>
        </div>

        <div class="menu">
          <div class="menu__bg" style="height: 100vh; opacity: 1; left: 0px; right: 0px;">
          </div>
          <div class="menu__bottom-line" style="transform: translateY(100vh);"></div>
          <div class="menu__content-wrap" style="height: 100vh;">
            <div class="menu__content" style="height: 100vh;">
              <div class="glitch">
                  <!-- <h2>MENU</h2> -->
                  <ul class="Menu-list" data-offset="10">
                    <li class="Menu-list-item" data-offset="20" onclick>
                      MENÚ
                      <span class="Mask"><span>MENÚ</span></span>
                      <span class="Mask"><span>MENÚ</span></span>
                    </li>    
                  </ul>
              </div>
              <div class="v-lines lines-menu">
                  <div class="v-lines__outer"></div>
                  <div class="v-lines__inner"></div>

              </div>
              <div class="vertical"></div>
              <ul class="pages-list">

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">00</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-nosotros.html">
                                  NOSOTROS
                              </a>
                          </div>
                      </div>
                  </li>
                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">01</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-metodologia.html">
                                  METODOLOGÍA
                              </a>
                          </div>
                      </div>
                  </li>
                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">02</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-servicios.html">
                                  SERVICIOS
                              </a>
                          </div>
                      </div>
                  </li>

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">03</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-proyectos.html">
                                  PROYECTOS
                              </a>
                          </div>
                      </div>
                  </li>

                  <li class="pages-list__i">
                      <div class="inner">
                          <div class="num">04</div>
                          <div class="line"></div>
                          <div class="label">
                              <a href="template-contacto.html">
                                  CONTACTO
                              </a>
                          </div>
                      </div>
                  </li>

              </ul>


            </div>
          </div>
        </div>
    </div>

    <div class="header">
      <div class="v-lines lines-content">
        <div class="v-lines__outer"></div>
        <div class="v-lines__inner"></div>

      </div>
      <div class="shadows" style="opacity: 1;">
            <img class="shadow shadow_left" src="../media/images/shadow.png">
            <img class="shadow shadow_right" src="../media/images/shadow.png">
      </div>
      <div class="titleMet">        
        <ul class="Menu-list" data-offset="10">
          <li class="Menu-list-item" data-offset="20" onclick>
            METODOLOGÍA
            <span class="Mask"><span>METODOLOGÍA</span></span>
            <span class="Mask"><span>METODOLOGÍA</span></span>
          </li>    
        </ul>
      </div>
    </div>

    <div class="section">
      <div class="v-lines lines-content">
        <div class="v-lines__outer"></div>
        <div class="v-lines__inner"></div>

      </div>
      <div class="sectionContent">
        <div class="wrapper">
            <div class="content">
                <h1 class="service-title">RDCのサービス紹介</h1>
                <div class="three-d-stage">
                    <ul class="card-list">
                        <li>
                            <section class="card card--01">
                                <div class="card__content">
                                    <button class="card__close" type="button">CLOSE</button>
                                    <p class="card__counter">01</p>
                                    <h2 class="card__heading"> ESCUCHAR
                                        <br> ... </h2>
                                    <p class="card__heading-ja">Conoce más</p>
                                    <p class="card__text"> Para nosotros es muy importante escuchar y entender las necesidades de nuestros clientes. Aprender de su entorno, su mercado y consumidores. </p>
                                </div>
                            </section>
                        </li>
                        <li>
                            <section class="card card--02">
                                <div class="card__content">
                                    <button class="card__close" type="button">CLOSE</button>
                                    <p class="card__counter">02</p>
                                    <h2 class="card__heading"> INVESTIGAR
                                        <br> Y PROPONER </h2>
                                    <p class="card__heading-ja">Conoce más</p>
                                    <p class="card__text"> Una vez entendemos las necesidades de nuestros clientes y el contexto en el que se encuentran, desarrollamos una investigación para ofrecerles ideas innovadoras que conduzcan a resultados contundentes. </p>
                                </div>
                            </section>
                        </li>
                        <li>
                            <section class="card card--03">
                                <div class="card__content">
                                    <button class="card__close" type="button">CLOSE</button>
                                    <p class="card__counter">03</p>
                                    <h2 class="card__heading"> CO-CREAR
                                        <br> ... </h2>
                                    <p class="card__heading-ja">Conoce más</p>
                                    <p class="card__text"> Entendemos que el conocimiento y los aportes de nuestros clientes  son muy importantes para enriquecer las soluciones y ampliar su impacto.  Por eso, los invitamos a participar en ciertos momentos de co-creación. </p>
                                </div>
                            </section>
                        </li>
                        <li>
                            <section class="card card--04">
                                <div class="card__content">
                                    <button class="card__close" type="button">CLOSE</button>
                                    <p class="card__counter">04</p>
                                    <h2 class="card__heading">PLANEAR</h2>
                                    <p class="card__heading-ja">Conoce más</p>
                                    <p class="card__text"> En Somos estamos convencidos que una buena planeación hace parte del éxito. Desarrollamos planes de trabajo donde nuestros clientes puede revisar el desarrollo del evento hasta el momento de la ejecución. Esto con el fin de generar confianza y aprobación en cada paso de la gestión</p>  
                                </div>
                            </section>
                        </li>
                        <li>
                            <section class="card card--05">
                                <div class="card__content">
                                    <button class="card__close" type="button">CLOSE</button>
                                    <p class="card__counter">05</p>
                                    <h2 class="card__heading"> PRODUCIR Y
                                        <br> EJECUTAR </h2>
                                    <p class="card__heading-ja">Conoce más</p>
                                    <p class="card__text"> Una producción impecable con resultados efectivos es nuestra mayor promesa. Contamos con un equipo  altamente preparado para darlo todo y crear momentos inolvidables. </p>
                                </div>
                            </section>
                        </li>
                        <li>
                            <section class="card card--06">
                                <div class="card__content">
                                    <button class="card__close" type="button">CLOSE</button>
                                    <p class="card__counter">06</p>
                                    <h2 class="card__heading">FEEDBACK</h2>
                                    <p class="card__heading-ja">Conoce más</p>
                                    <p class="card__text"> Sabemos que toda compañía crece por medio de la retroalimentación, pues  nos permite entender cómo nos ven nuestros clientes y poder ajustarnos para entregar un mejor servicio a futuro. </p>
                                </div>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div></div>
      </div>

    </div>

    <div class="prev-next-page clearfix">
      <div class="slide-down">
          <a href="template-servicios.html">
              <div class="prev-wrap" style="transform: matrix(1, 0, 0, 1, 0, 0) translateZ(0px);">
                  <div class="approach-btn roll-hover-btn">
                      <p>Servicios</p>
                  </div>
              </div>
          </a>
          <a href="template-contacto.html">
              <div class="next-wrap active" style="transform: matrix(1, 0, 0, 1, 0, 0) translateZ(0px);">
                  <div class="portfolio-btn roll-hover-btn">
                      <p>Contacto</p>
                  </div>
              </div>
          </a>
      </div>
    </div>

    <!--Footer-->

    <!--Footer-->

    <footer>
        <div class="footer-area-bottom" style="font-family: Bahnschrift">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="copyright text-center">
                  <p>
                    &copy; Copyright <strong>Somos producciones</strong>. All Rights Reserved
                  </p>
                </div>
                <div class="credits">
                 
                  Designed by <a href="https://bootstrapmade.com/">Wakanda</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

    <script src="../js/main.js"></script>
  </body>
</html>
